@font-face {
  src: url("terminal-grotesque.ttf");
  font-family: terminal;
}

@font-face {
  src: url("texgyreheros-regular.otf");
  font-family: texgyreheros;
}

@font-face {
  src: url("texgyreheros-bold.otf");
  font-family: texgyreherosbold;
}

@font-face {
  src: url("Mondwest-Regular.otf");
  font-family: Mondwest;
}

@font-face {
  src: url("EditorialNew-Light.otf");
  font-family: EditorialNew;
}

@font-face {
  src: url("NeueBit-Bold.otf");
  font-family: NeueBit;
}

@font-face {
  src: url("NeueMontreal-Regular.otf");
  font-family: NeueMontreal;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


.tabSpace {
  padding-left: 64px;
}

.navBarPosition {
  position: fixed;
  width: 100%;
  height: 10px;
  top: 0px;
}

.navBarStructure {
  width: 90%;
  max-width: 1000px;

}

#nameText {
  float: left;
  padding: 2px;
  border: 1px solid white;
  border-radius: 100px;
  font-family: texgyreheros;
}



.menuButtonStructure {
  float: right;
}

#menuButtonText {
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid black;
  border-radius: 100px;
  font-family: NeueBit;
}

#backButtonContainer {
  position: absolute;
  left: 120px;
  top: 40%;
  width: 200px;
  height: 164px;
  background-color: white;
  cursor: move;
  font-family: NeueBit;
  background-color: white;
  border: 1px solid black;
  z-index: 21;
}

.menuTitleText {
  font-size: 32px;
}

.menuLink{
  display: inline-block;
  border: 1px solid black;
  padding: 20px;
  font-size: 28px;
  text-decoration: none;
}

.menuLink:hover {
  display: inline-block;
  border: 1px solid black;
  padding: 20px;
  background-color: blue;
  color: white;
}

.pageTextStructure {
  position: static;
  width: 90%;
  height: 100px;
  max-width: 1000px;
  padding-top: 8px;

}

.mainTextStructure {
  padding-top: 100px;
}

.mainText1, .mainText2, .mainText3, .mainText4 {
  display: inline;
  line-height: 125px;
  color: black;
  letter-spacing: -3px;
  transition: font-size .2s;
}

.mainText1:hover {
  font-size: 130px;
}

.mainText2:hover {
  font-size: 140px;
}

.mainText3:hover {
  font-size: 140px;
}

.mainText4:hover {
  font-size: 130px;
}

.mainText1 {
  font-family: Mondwest;
  font-size: 150px;
}

.mainText2 {
  font-family: EditorialNew;
  font-size: 120px;
}

.mainText3 {
  font-family: NeueBit;
  font-size: 170px;
}

.mainText4 {
  font-family: NeueMontreal;
  font-size: 110px;
}

.pageMainText {
  font-size: 80px;
  font-family: texgyreherosbold;
  letter-spacing: -3px;
  top: 0;
}

.pageMainTextLink {
  font-size: 90px;
  font-family: terminal;
  line-height: 90px;
  color: blue;
  text-decoration: underline;
}

.pageMainTextLink:hover {
  color: #00ffff;
}

.pageBodyText {
  display:inline-block;
  font-family: NeueMontreal;
  font-size: 20px;
  text-align: left;
  line-height: 28px;
  width: 90%;
  max-width: 600px;
  text-align: justify;
  padding-bottom: 20px;
  letter-spacing: 0px;
}

.startButtonStructure {
  position: fixed;
  right: 10%;
  top: 28%;
  animation: rotation 20s infinite linear;
}

.startButtonText {
  padding-top: 5px;
  padding-bottom: 5px;
  padding: 32px;
  font-family: terminal;
  font-size: 40px;
  color: black;
  border: 2px solid black;
  border-radius: 200px / 200px;
  background-color: white;
}

.startButtonText:hover {
  color: white;
  background-color: blue;

}

.generateStructure {
  width: 100%;
  background-color: black;

}
